djenv

accessweb/db.sqlite3

accessweb/browse/docker_containers
accessweb/browse/chrome/.env

__pycache__/
*.pyc
__pycache__/
*.pyc
accessweb/browse/agent/user_logs
accessweb/browse/models/gemma-3n-transformers-gemma-3n-e2b-it-v1