{% extends "base.html" %} {% load static %} {% block content %}
<div id="user_id" style="display: none">{{ user_id }}</div>
<div class="mainmain">
  <div class="maincontainer">
    <div class="container">
      <h1>Break the Barriers , {{request.user.username}} !</h1>

      {% if user.is_authenticated %}
      <button id="startSessionButton">Start Session</button>
      {% else %}
      <a href="{% url 'login' %}">
        <button id="loginButton">Login</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="searchbar">
  <input
    type="search"
    name="search"
    id="search"
    class="search"
    placeholder="Search or enter a URL ..."
    value="https://www.kaggle.com/ayushkhaire"
  />
  <button id="search_btn" class="searchbtn">Search</button>
</div>
<div class="imagecon" id="imagecon">
  <div class="img-container">
    <img
      id="browser_screenshot"
      src="https://static.remove.bg/sample-gallery/graphics/bird-thumbnail.jpg"
      alt="Image will display here"
      style="width: 100%; height: 100%"
    />
    <div
      style="display: none"
      class="imagehighlightoverlay"
      id="imagehighlightoverlay"
    ></div>
    <div class="lens"></div>
  </div>
</div>
<!-- windows -->
<div class="interactivewindows">
  <div class="buttonhandlers">
    <div class="buttons-browse">
      <button onclick="toggleChat('lens')">Toggle Lens</button>
      <button onclick="toggleChat('aichat')">chat with AI</button>
      <button onclick="toggleChat('highlight-chat-box')">Highlight text</button>
      <button onclick="toggleChat('brail-reader')">Brail reader</button>
      <button onclick="toggleChat('sign-recognizer')">Sign language recognizer</button>
    </div>
  </div>
  <div id="lens" class="chat-box">
    <div class="chat-header" onclick="minimizeChat('lens')">lens</div>
    <div class="controllerscon">
      <div id="vistool">
        <h4>Visual controls</h4>
        <div class="subtool">
          <h4>Show the Lens :</h4>
          <input type="checkbox" name="checkvisuals" id="checkvisuals" />
        </div>
        <br />
        <div class="slidecontainer">
          <div class="subtool">
            <h5>lens zoom</h5>
            <input
              type="range"
              min="1"
              max="10"
              value="2"
              class="slider"
              id="zoom-range"
            />
          </div>
          <div class="subtool">
            <h5>lens width</h5>
            <input
              type="range"
              min="100"
              max="700"
              value="300"
              class="slider"
              id="width-range"
            />
          </div>
          <div class="subtool">
            <h5>Adjust font</h5>
            <input
              type="range"
              min="10"
              max="80"
              value="20"
              class="slider"
              id="font_range"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="aichat" class="chat-box">
    <div class="chat-header" onclick="minimizeChat('aichat')">chat with AI</div>
    <div class="chat-content">
      <div class="chatBot">
        <header>
          <h2>ChatBot</h2>
        </header>
        <ul class="chatbox" id="LLM-conversation">
          <li class="chat-incoming chat">
            <p>Hey! How can I assist you today?</p>
          </li>
        </ul>
        <div class="chat-input">
          <input
            rows="0"
            cols="17"
            placeholder="Enter a message..."
            class="ai-chat-input"
            id="ai-chat-input"
            value="can you click on code ?"
          />
          <button id="ai-chat">Start Chat</button>
        </div>
      </div>
    </div>
  </div>
  <div id="highlight-chat-box" class="chat-box">
    <div class="chat-header" onclick="minimizeChat('highlight-chat-box')">
      Highlight text
    </div>
    <div class="chat-content">
      <h1>highlight the text</h1>
      <button id="highlight-chat-button" class="highlight-chat-button">
        highlight
      </button>
    </div>
  </div>
  <div id="brail-reader"
    class="chat-box brail-reader"
    style="width: 70vw; height: 70vh; top: 100px"
  >
    <div class="chat-header" onclick="minimizeChat('brail-reader')">
      Brail reader
    </div>
    <div class="chat-content">
      <div class="mainbrailcolordiv">
        <div id="braildiv" class="braildiv">
          <div class="mainbrailstrip" id="mainbrailstrip">
            <div class="brailarrow" id="brailleft">
              <button>&lt;</button>
            </div>
            <div class="brailcol" id="brailcol1">
              <div id="braildot1" class="dot braildot"></div>
              <div id="braildot2" class="dot braildot"></div>
              <div id="braildot3" class="dot braildot"></div>
            </div>
            <div class="brailcol" id="brailcol2">
              <div id="braildot4" class="dot braildot"></div>
              <div id="braildot5" class="dot braildot"></div>
              <div id="braildot6" class="dot braildot"></div>
            </div>
            <div class="brailarrow" id="brailright">
              <button>&gt;</button>
            </div>
          </div>
          <div class="textstrip">
            <button class="brail-english-letter" id="brail-english-letter-0">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-1">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-2">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-3">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-4">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-5">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-6">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-7">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-8">
              &nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="sign-recognizer"
    class="chat-box sign-recognizer"
    style="width: 70vw; height: 70vh; top: 100px"
  >
    <div class="chat-header" onclick="minimizeChat('sign-recognizer')">
      sign language recognizer
    </div>
    <div class="chat-content">
      <div class="mainbrailcolordiv">
        <div class="sign-lang-screen">
          <h1>Recognize sign language</h1>
          <button id="turn-on-camera" >Start Camera</button>
          <video id="sign-video" autoplay></video>
          <canvas id="sign-canvas" style="display: none;"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/browse.js' %}"></script>
  <script src="{% static 'js/img-zoom.js' %}"></script>
  <script src="{% static 'js/brail.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"
  />
  <script>
    $(function () {
      $(".chat-box").draggable({ handle: ".chat-header" });
    });

    function toggleChat(id) {
      let chat = document.getElementById(id);
      chat.style.display =
        chat.style.display === "none" || chat.style.display === ""
          ? "block"
          : "none";
    }

    function minimizeChat(id) {
      let chat = document.getElementById(id);
      chat.classList.toggle("minimized");
    }
  </script>
</div>
{% endif %} {% endblock content %}
