{% extends "base.html" %} {% load static %} {% block content %}
<div id="user_id" style="display: none">{{ user_id }}</div>
<div class="mainmain">
  <div class="maincontainer">
    <div class="container">
      <h1>Break the Barriers , {{request.user.username}} !</h1>
      <h3>Click on the  "start session" 👇 button to start the session</h3>
      {% if user.is_authenticated %}
      <button id="startSessionButton">Start Session</button>
      <button
        id="stopSessionButton"
        style="background-color: red; display: none"
      >
        Stop Session
      </button>
      {% else %}
      <a href="{% url 'login' %}">
        <button id="loginButton">Login</button>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="browsercontroller">
  <div class="subbrowsercontroller">
    <div class="searchbar">
      <input
        type="search"
        name="search"
        id="search"
        class="search"
        placeholder="Search or enter a URL ..."
        value="https://www.kaggle.com/"
      />
    </div>
  </div>
  <div class="subbrowsercontroller">
    <div class="typerforbrowser subbrowsercontroller" style="max-width: 300px">
      <h3>key board typing :</h3>
      <input type="checkbox" name="type_kb" id="type_kb" unchecked />
    </div>
    <button id="search_btn" class="searchbtn">Search</button>
  </div>
</div>
<div class="themaininstruction container" >
  <div class="theinstruction" style="min-width: 30%;;display: block;margin: auto;" >
    <h3>Now , Your session has been started !  <br> You will see google's custom search bar . <br> But we wish you try our own way . <br> We have already took a sample website for you . it is kaggle . We already have entered it for you as well : <br> Please click on search button as it is , let us explore Kaggle ! 👉 <br> Kaggle website will open there . </h3>
  </div>
    <div class="theinstruction" style="min-width: 30%;;display: block;margin: auto;" >
    <h2>We wish you should explore our AI features first . </h2>
    <h3>Click on the "Chat with AI" button to start the interaction</h3>
    <h3>You will get next instructions there .</h3>
  </div>
</div>
<div class="imagecon" id="imagecon">
  <div class="img-container">
    <img
      id="browser_screenshot"
      src="https://cdn.dribbble.com/userupload/19849667/file/original-95fabf09850cd28e919f3e156fca3cea.gif"
      alt="Image will display here"
      style="width: 100%; height: 100% fit-content"
    />
    <div
      style="display: none"
      class="imagehighlightoverlay"
      id="imagehighlightoverlay"
    ></div>
    <div class="lens"></div>
  </div>
</div>
<!-- windows -->
<div class="interactivewindows">
  <div class="buttonhandlers">
    <div class="buttons-browse">
      <button id = "lens-button" onclick="toggleChat('lens')">Toggle Lens</button>
      <button id = "aichat-button" onclick="toggleChat('aichat')">chat with AI</button>
      <button id = "highlight-chat-box-button" onclick="toggleChat('highlight-chat-box')">Highlight text</button>
      <button id = "brail-reader-button" onclick="toggleChat('brail-reader')">Brail reader</button>
      <button id = "sign-recognizer-button" onclick="toggleChat('sign-recognizer')">
        Sign language recognizer
      </button>
    </div>
  </div>
  <div id="lens" class="chat-box">
    <div class="chat-header" onclick="minimizeChat('lens')">lens</div>
    <div class="controllerscon">
      <div id="vistool">
        <h2>Lens settings</h2>
        <div class="subtool">
          <div class="viewlensinfo" style="width: 300px;" >
            We help you to view the website on ULTRA zoom , with easiest possible way , adjust size and depth of lens . Please click on the following square box to see the lens in action 👇.<br />
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            "
          >
            <h4>Show the Lens :</h4>
            <input type="checkbox" name="checkvisuals" id="checkvisuals" />
          </div>
        </div>
        <br />
        <div class="slidecontainer">
          <div class="subtool">
            <h5>lens zoom</h5>
            <input
              type="range"
              min="1"
              max="10"
              value="2"
              class="slider"
              id="zoom-range"
            />
          </div>
          <div class="subtool">
            <h5>lens width</h5>
            <input
              type="range"
              min="100"
              max="700"
              value="300"
              class="slider"
              id="width-range"
            />
          </div>
          <div class="subtool">
            <h5>Adjust font</h5>
            <input
              type="range"
              min="10"
              max="80"
              value="20"
              class="slider"
              id="font_range"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="aichat" class="chat-box" style="max-width: 40%">
    <div class="chat-header" onclick="minimizeChat('aichat')">chat with AI</div>
    <div class="chat-content">
      <div class="chatBot">
        <header>
          <h2>Chat</h2>
        </header>
        <ul class="chatbox" id="LLM-conversation">
          <li class="chat-incoming chat">
            <p>Hey! How can I assist you today? I hope you have started the session and reached to kaggle website . If you are not , then please click on "start session" , then wait for a few seconds . You will see a custom search engine interface by Google , now , click on search near kaggle.com input box . </p>
          </li>
          <li class="chat-incoming chat">
            <p>For your convinience , We are giving you some sample prompts regarding kaggle . You do not need to type , just follow step 1 , step 2 , step 3 , and so on , as a sample . </p>
            <div class="prompt-for-ai">
              STEP 1 : What you see in the website ?
            </div>
            <div class="prompt-for-ai">
              STEP 2 : Can you please click on models button if there is any ?
            </div>
            <div class="prompt-for-ai">
              STEP 3 : Can you please search for gemini model ?
            </div>
            <li class="chat-incoming chat" >
            copy and paste the STEP 1 text in the input box and click on "start chat" button . wait till AI take action , then , copy paste and send STEP 2 , then again wait for AI action , and then step 3 .<br />
            <div class="prompt-for-ai">
              STEP 4 : Explore more , view the other features like ULTRA ZOOM LENS , brail display , text significance ,  and so on .
            </li>
          </li>
        </ul>
        <div class="chat-input">
          <input
            rows="0"
            cols="17"
            placeholder="Enter a message..."
            class="ai-chat-input"
            id="ai-chat-input"
            value="can you click on code ?"
          />
          <button id="ai-chat">Start Chat</button>
        </div>
      </div>
    </div>
  </div>
  <div id="highlight-chat-box" class="chat-box">
    <div class="chat-header" onclick="minimizeChat('highlight-chat-box')">
      Highlight text
    </div>
    <div class="chat-content">
      <h1>highlight the text</h1>
      <p class="textinnfo" style="width: 300px;" >
        we help you to get the quick summery on basis of AI , highlighting important text , so you can get the idea of the website quickly .
      </p>
      <button id="highlight-chat-button" class="highlight-chat-button">
        highlight
      </button>
    </div>
  </div>
  <div
    id="brail-reader"
    class="chat-box brail-reader"
    style="width: 70vw; height: 70vh; top: 100px"
  >
    <div class="chat-header" onclick="minimizeChat('brail-reader')">
      Brail reader
    </div>
    <div class="chat-content">
      <div class="mainbrailcolordiv">
        <div id="braildiv" class="braildiv">
          <div class="brailmaininstandplate" style="display: flex;" >
                      <div class="mainbrailstrip" id="mainbrailstrip">
            <div class="brailarrow" id="brailleft">
              <button>&lt;</button>
            </div>
            <div class="brailcol" id="brailcol1">
              <div id="braildot1" class="dot braildot"></div>
              <div id="braildot2" class="dot braildot"></div>
              <div id="braildot3" class="dot braildot"></div>
            </div>
            <div class="brailcol" id="brailcol2">
              <div id="braildot4" class="dot braildot"></div>
              <div id="braildot5" class="dot braildot"></div>
              <div id="braildot6" class="dot braildot"></div>
            </div>
            <div class="brailarrow" id="brailright">
              <button>&gt;</button>
            </div>
          </div>
          <div class="brailinstruction" style="width: 300px; display: flex;align-items: center;text-align: center;justify-content: center; " >
            If you are a deaf , but your eyes are still sensitive to light , we can help you with screen based brail . <br>
  try to increase your monitor brightness , turn room light off , and get close to your monitor screen . <br> Now try to guess the letter on basis of light difference .Yes , it is a "t" letter . now , press left arrow key on your keyboard , and go to past letter , and right arrow key to next letter .
          </div>
          </div>
          <div class="textstrip">
            <button class="brail-english-letter" id="brail-english-letter-0">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-1">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-2">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-3">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-4">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-5">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-6">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-7">
              &nbsp;&nbsp;&nbsp;
            </button>
            <button class="brail-english-letter" id="brail-english-letter-8">
              &nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="sign-recognizer"
    class="chat-box sign-recognizer"
    style="width: 70vw; height: 70vh; top: 100px"
  >
    <div class="chat-header" onclick="minimizeChat('sign-recognizer')">
      sign language recognizer
    </div>
    <div class="chat-content">
      <div class="mainbrailcolordiv">
        <div class="sign-lang-screen">
          <h1>Recognize sign language</h1>
          <button id="turn-on-camera">Start Camera</button>
          <video id="sign-video" autoplay></video>
          <canvas id="sign-canvas" style="display: none"></canvas>
          <div class="signinstruction" style="width: 400px;" >
            This feature is under development . If we get in selected , we will work on this project . already we have done a lot of work .
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}
  <script src="{% static 'js/browse.js' %}"></script>
  <script src="{% static 'js/img-zoom.js' %}"></script>
  <script src="{% static 'js/brail.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  {% endif %}

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"
  />
  <script>
    $(function () {
      $(".chat-box").draggable({ handle: ".chat-header" });
    });

    function toggleChat(id) {
      // Get the chat element using its ID
      let chat = document.getElementById(id);

      // Check the current display style of the chat
      if (chat.style.display === "none" || chat.style.display === "") {
        // If the chat is hidden or its display style is not explicitly set, show it
        chat.style.display = "block";
        let monitor_button = document.getElementById(id + "-button");
        old_text = monitor_button.textContent;
        monitor_button.style.backgroundColor = "rgb(52, 152, 219)"
        monitor_button.textContent = "close " + old_text;
        monitor_button.style.color = "white";
      } else {
        // Otherwise, hide the chat
        chat.style.display = "none";
        let monitor_button = document.getElementById(id + "-button");
        old_text = monitor_button.textContent;
        monitor_button.style.backgroundColor = "rgb(255, 255, 255)"
        monitor_button.textContent = old_text.replace("close ", "");
        monitor_button.style.color = "#3498db";
      }
    }

    function minimizeChat(id) {
      // Get the chat element using its ID
      let chat = document.getElementById(id);

      // Toggle the "minimized" class on the chat element
      chat.classList.toggle("minimized");
    }
  </script>
</div>
{% endif %} {% endblock content %}
